@inherits LayoutComponentBase

<BHLoading />
<Blazored.Toast.BlazoredToasts Position="ToastPosition.TopRight"
                               Timeout="5"
                               IconType="IconType.FontAwesome"
                               ErrorIcon="fas fa-times"
                               InfoIcon="fas fa-info"
                               SuccessIcon="fas fa-check"
                               WarningIcon="fas fa-exclamation"
                               ShowProgressBar="@true"
                               ShowCloseButton="@true">
    <CloseButtonContent>
        <div>
            <span>&times;</span>
        </div>
    </CloseButtonContent>
</Blazored.Toast.BlazoredToasts>
<div class="bh-auth" style="margin-top: 100px; margin-bottom: auto">
    <TelerikRootComponent>
        @Body
    </TelerikRootComponent>
</div>

