
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.carousel-caption{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(15, 23, 43, .7);
    z-index: 1;
}
.img-carousel{
   height: 500px;
}
.btn-register{
    color: #000;
    border: none;
    background: #fff;
    transition: .7s;
    border-radius: 30px;
}
.btn-register:hover{
    color: #0ef;
    box-shadow: inset 300px 0px #000;
}

.booking{
    position: relative;
    margin-top: -40px !important;
    z-index: 10;
}
.select{
    border: 1px solid #ced4da;
}
.btn-find{
    border: none;
    background-color: rgb(10, 104, 255);
    color: #fff;
    font-weight: 600;
    transition: .5s;
}
.btn-find:hover{
    background-color: #000;
}
.container-room{
    margin-bottom: 90px;
}
.view-detail,.btn-contact{
    color: #fff;
    background-color: rgb(10, 104, 255);
    border-radius: 0;
    transition: .4s;
    box-shadow: 4px 4px rgba(0,0,0,0.4);
}
.view-detail:hover{
    color: #fff;
    background-color: red;
    transform: translateY(5px);
}
.btn-contact:hover{
    color: #fff;
    background-color: red;
    transform: translateY(5px);
}

@media (max-width: 992px){
    .btn-register{
        font-size: 10px;
        width: 220px;
    }

}
.item-hover{
    transition: .3s;
}
.item-hover:hover{
    transform: translateY(10px);
}